* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background: #f5f7fb;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 0;
}

.form-container {
  width: 70%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.form-header {
  background: #1294ff;
  padding: 20px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-header h2 {
  margin-left: 10px;
  letter-spacing: 1px;
}

.close-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.address-form {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.address-form label {
  font-size: 14px;
  color: #444;
}

.address-form input,
.address-form textarea,
.address-form select {
  width: 100%;
  padding: 12px;
  font-size: 15px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  outline: none;
}

.address-form textarea {
  resize: none;
  height: 90px;
}

.row {
  display: flex;
  gap: 20px;
}

.row select,
.row input {
  flex: 1;
}

.btn-row {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 10px;
}

.add-btn,
.reset-btn {
  width: 130px;
  padding: 12px 0;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

.add-btn {
  background: #1294ff;
  color: #fff;
}

.reset-btn {
  background: #d6d6d6;
  color: #555;
}
.back-btn-row {
  margin-top: 20px;
  text-align: center;
}

.back-btn {
  display: inline-block;
  padding: 10px 20px;
  background: #444;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.back-btn:hover {
  background: #000;
}

